<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issuer Comparison</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>
    <style>
        #imp-part{
            display: flex;

        }
        body{
            font-family: 'Karla', sans-serif;
        }
        h2{
            margin-top: 40px;
            color:darkcyan;
        }
        #imp-part{
            margin-top: 50px;
           display: flex;
            gap:30px;
            justify-content: center;
        }
        #combinedStockChart{
            margin-top: 30px;
            width: 70%;
            height: 70%;
        }

    </style>
</head>
<body>
<div class="col-lg-3 col-md-4 col-sm-12">
    <h1>Comparison between two issuers</h1>
    <hr>
    <h2>Select two issuer codes and time period to view the statistics</h2>
    <div id="imp-part">
        <select id="issuer1" class="form-select" required onclick="uncheckAllRadios()" >
            <option value="" selected disabled>Issuer-code</option>
            <option th:each="code : ${codes}" th:value="${code}" th:text="${code}"
                    th:selected="${code == selectedCode}"></option>
        </select>
        <select id="issuer2" class="form-select" required onclick="uncheckAllRadios()" >
            <option value="" selected disabled>Issuer-code</option>
            <option th:each="code : ${codes}" th:value="${code}" th:text="${code}"
                    th:selected="${code == selectedCode}"></option>
        </select>
        <div class="timePeriodSelector mt-3">
            <label>
                <input type="radio" name="timePeriod" value="1_month" onclick="updatePeriod()"> 1 month
            </label>
            <label>
                <input type="radio" name="timePeriod" value="6_months" onclick="updatePeriod()"> 6 months
            </label>
            <label>
                <input type="radio" name="timePeriod" value="1_year" onclick="updatePeriod()"> 1 year
            </label>
            <label>
                <input type="radio" name="timePeriod" value="5_years" onclick="updatePeriod()"> 5 years
            </label>
            <label>
                <input type="radio" name="timePeriod" value="all" onclick="updatePeriod()"> 10 years
            </label>
        </div>
    </div>

</div>

<canvas id="combinedStockChart" width="800" height="400"></canvas>
<script>
    let issuer1Initial="OKTA"
    let issuer2Initial="ALK"
    let initialPeriod="all"
    function generateGraph() {
        const issuer1 = document.getElementById('issuer1').value;
        const issuer2 = document.getElementById('issuer2').value;
        const selectedPeriod = document.querySelector('input[name="timePeriod"]:checked');
        if (!selectedPeriod) {
            alert("Please select a time period.");
            return;
        }
        if (!issuer1 || !issuer2) {
            alert("Please select both");
            return;
        }
        const period = selectedPeriod.value;
        Promise.all([
            fetchChartDataForIssuer(issuer1, period),
            fetchChartDataForIssuer(issuer2, period)
        ])
            .then(([data1, data2]) => {
                console.log(data1)
                console.log(data2)
                updateCombinedStockChart(data1, data2);
            })
            .catch(error => console.error('Error fetching data for both issuers:', error));
        console.log("Here")
    }
    function updatePeriod(){
        generateGraph();
    }

    function fetchChartDataForIssuer(issuer, period) {
        const url = `/issuers/stock-chart-total-data?issuer=${encodeURIComponent(issuer)}&timePeriod=${encodeURIComponent(period)}`;
        return fetch(url)
            .then(response => response.json());
    }
    function uncheckAllRadios() {
        const radioButtons = document.querySelectorAll('input[name="timePeriod"]');
        radioButtons.forEach(radio => {
            radio.checked = false;
        });
    }

    function updateCombinedStockChart(data1, data2) {
        console.log(data1.dates)
        const ctx = document.getElementById('combinedStockChart').getContext('2d');
        if (window.combinedStockChart && typeof window.combinedStockChart.destroy === 'function') {
            window.combinedStockChart.destroy();
        }

        window.combinedStockChart=new Chart(ctx, {
            type: 'line',
            data: {
                labels: data1.periodDates,
                datasets: [
                    {
                        label: 'Issuer 1 Average Price',
                        data: data1.periodAvgPrices,
                        borderColor: 'rgb(34,178,178)',
                        backgroundColor: 'rgba(21,204,2,0.4)',
                        fill: true,
                        tension: 0.4
                    },
                    {
                        label: 'Issuer 2 Average Price',
                        data: data2.periodAvgPrices,
                        borderColor: 'rgb(255,99,132)',
                        backgroundColor: 'rgba(255,99,132,0.4)',
                        fill: true,
                        tension: 0.4
                    }
                ]
            },
            options: { responsive: true }
        });
    }

    window.onload = function() {
        document.getElementById('issuer1').value=issuer1Initial;
        document.getElementById('issuer2').value=issuer2Initial;
        const radioButtons = document.querySelectorAll('input[name="timePeriod"]');
        radioButtons.forEach(radio => {
            if (radio.value === initialPeriod) {
                radio.checked = true;
            } else {
                radio.checked = false;
            }
        });

        Promise.all([
            fetchChartDataForIssuer(issuer1Initial, initialPeriod),
            fetchChartDataForIssuer(issuer2Initial, initialPeriod)
        ])
            .then(([data1, data2]) => {
                console.log(data1)
                console.log(data2)
                updateCombinedStockChart(data1, data2);
            })
            .catch(error => console.error('Error fetching data for both issuers:', error));
    };

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
